<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular.js 聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- 樣式表 -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="chat-room" ng-controller="ChatCtrl">
      <div id="message-list">
        <div class="message" ng-repeat="msg in messages">
          <strong class="message-author">{{ msg.name }}:</strong>
          <div class="message-content">{{ msg.content }}</div>
        </div>
      </div>
      <form id="chat-form" ng-submit="submit()">
        <div class="container-fluid">
          <div class="form-group col-md-4">
            <input class="form-control" type="text" ng-model="name" required placeholder="姓名">
          </div>
          <div class="form-group col-md-7">
            <input class="form-control" type="text" ng-model="content" required placeholder="留言">
          </div>
          <div class="form-group col-md-1 text-right">
            <button class="btn btn-default" type="submit">送出</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <!-- Firebase -->
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <!-- 主程式 -->
    <script src="script.js"></script>
  </body>
</html>