body {
  background: #eee;
}

#message-list {
  padding: 20px 25px 50px;
}

#chat-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  background: #eee;
}

.message {
  background: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}